*{margin: 0;box-sizing: border-box;}

div{
    width: 220px;
    height: 220px;
    background-color: lawngreen;
    margin: 1%;
    float: left;
}
.b1{
    border: 10px solid red;
}
.b2{
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
}
.b3{
    border-radius: 0px 50% 0px 50%;
}
.b4{
    border-radius: 50% 0px 50% 0px;
}
.b5{
    border: 10px dotted red;
}
.b6{
    border: 5px solid red;
}
.b7{
    border-radius: 20px 50px 20px 50px;
}
.b8{
    border: 10px dashed red;
}
.b9{
    border-radius: 50% 0px 50% 0px;
}
.b10{
    border-radius:0px 50% 0px 50%;
}
.b11{
    border: 10px double red;
}
.b12{
    border-radius: 50%;
    border: 10px solid red;
}